In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
import csv

In [4]:
fed_rates = pd.read_csv("Resources/FEDFUNDS.csv")
# header_names=['Date','MORTGAGE30US']
# Morgate_rate_df = pd.read_csv("Resources/Mortage_rate_30_Years.csv",header=None,skiprows=1, names=header_names)
# Morgate_rate_df
fed_rates

          DATE  FEDFUNDS
0   2019-01-01      2.40
1   2019-02-01      2.40
2   2019-03-01      2.41
3   2019-04-01      2.42
4   2019-05-01      2.39
..         ...       ...
60  2024-01-01      5.33
61  2024-02-01      5.33
62  2024-03-01      5.33
63  2024-04-01      5.33
64  2024-05-01      5.33

[65 rows x 2 columns]

In [7]:
fed_rates["DATE"] = pd.to_datetime(fed_rates["DATE"])
fed_rates

         DATE  FEDFUNDS
0  2019-01-01      2.40
1  2019-02-01      2.40
2  2019-03-01      2.41
3  2019-04-01      2.42
4  2019-05-01      2.39
..        ...       ...
60 2024-01-01      5.33
61 2024-02-01      5.33
62 2024-03-01      5.33
63 2024-04-01      5.33
64 2024-05-01      5.33

[65 rows x 2 columns]

In [ ]:
#Write new CSV to repo
fed_rates.to_csv("fed_ratescsv", index=False, header=True)